<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ir.codingwithsaeed.flutter_alert_window">

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application>
        <activity
            android:name=".AlertWindowActivity"
            android:exported="true"
            android:label="Reminder"
            android:launchMode="singleInstance"
            android:showOnLockScreen="true"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <receiver android:name=".CloseBroadcastReceiver" />
    </application>
</manifest>
